NotesPortal18/WebContent/wsdl/NotesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.web.heightsre" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.web.heightsre" xmlns:intf="http://service.web.heightsre" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.web.heightsre" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="generateCallWithDbName">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="options" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateCallWithDbNameResponse">
    <complexType>
     <sequence>
      <element name="generateCallWithDbNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="newOriginateCall">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="options" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="newOriginateCallResponse">
    <complexType>
     <sequence>
      <element name="newOriginateCallReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generalInterface">
    <complexType>
     <sequence>
      <element name="cmd" type="xsd:string"/>
      <element maxOccurs="unbounded" name="options" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generalInterfaceResponse">
    <complexType>
     <sequence>
      <element name="generalInterfaceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateCall">
    <complexType>
     <sequence>
      <element name="local" type="xsd:string"/>
      <element name="remote" type="xsd:string"/>
      <element name="CallerID" type="xsd:string"/>
      <element name="DocID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generateCallResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateCallWithDbNameRequest">

      <wsdl:part element="impl:generateCallWithDbName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newOriginateCallRequest">

      <wsdl:part element="impl:newOriginateCall" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateCallWithDbNameResponse">

      <wsdl:part element="impl:generateCallWithDbNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="newOriginateCallResponse">

      <wsdl:part element="impl:newOriginateCallResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generalInterfaceResponse">

      <wsdl:part element="impl:generalInterfaceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generalInterfaceRequest">

      <wsdl:part element="impl:generalInterface" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateCallResponse">

      <wsdl:part element="impl:generateCallResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateCallRequest">

      <wsdl:part element="impl:generateCall" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="NotesService">

      <wsdl:operation name="generateCallWithDbName">

         <wsdl:input message="impl:generateCallWithDbNameRequest" name="generateCallWithDbNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateCallWithDbNameResponse" name="generateCallWithDbNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newOriginateCall">

         <wsdl:input message="impl:newOriginateCallRequest" name="newOriginateCallRequest">

       </wsdl:input>

         <wsdl:output message="impl:newOriginateCallResponse" name="newOriginateCallResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generalInterface">

         <wsdl:input message="impl:generalInterfaceRequest" name="generalInterfaceRequest">

       </wsdl:input>

         <wsdl:output message="impl:generalInterfaceResponse" name="generalInterfaceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateCall">

         <wsdl:input message="impl:generateCallRequest" name="generateCallRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateCallResponse" name="generateCallResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NotesServiceSoapBinding" type="impl:NotesService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="generateCallWithDbName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateCallWithDbNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateCallWithDbNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="newOriginateCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="newOriginateCallRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="newOriginateCallResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generalInterface">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generalInterfaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generalInterfaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateCall">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateCallRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateCallResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NotesServiceService">

      <wsdl:port binding="impl:NotesServiceSoapBinding" name="NotesService">

         <wsdlsoap:address location="http://localhost:8080/NotesPortal/services/NotesService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
